<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
</head>
<body>
	<header>
		<nav class="navbar">
		</nav><!-- 导航条 -->
	</header>
	<div class="accordin">
		<ul>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">333</a></li>
			<li><a href="#">444</a></li>
			<li><a href="#">7</a></li>
			<li><a href="#">700</a></li>
			<li><a href="#">800</a></li>
		</ul>
	</div><!-- 侧栏 -->
	<div class="content">
		内容
	</div>
	<footer class="footer"></footer>
</body>
</html>